.info i{
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 10px;
} 

.Habilidad img{
    width: 200px; 
    height: 10px;
}

.contacto{
    
    width: 300px;
}

.img3{
    width: 300px;
}