margin{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
  }
  
  body{
    font-family: sans-serif;
  }

  .error{   
    text-align:center;
    left: 900px;
    width: 500px;
    height: 500px;
  }